*{
    background-color: #2d2e2f;
    color: white;
}

input{
    background-color: white;
    color: black;
}

.container1{

    
    display: flex;
    justify-content: center;
    padding: 50px;
    height: 100%;
    width: 50%;
    background-color:#80C4B7;
    margin-bottom: 20px;
    border-radius: 20px;

}
.card1{
   
    padding: 20px;
    background-color: #E3856B; 
    border-radius: 20px;
   
}

#val{
    border-radius: 20px;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

button{
     
    margin-top: 15px;
}